@model PersonalFinance.Web.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "../Shared/_LoginRegisterLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <form class="login-box col-md-12" id="login-form" asp-action="Register" method="post">
                <div class="text-center">
                    <img src="~/img/icons8-wallet-100.png" class="mt-5" />
                    <p class="h3 text-primary text-monospace">Personal Finance</p>
                    <p class="h5 mt-5 mb-3 ">Register</p>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="sr-only"></label>
                    <input class="form-control d-block" style="width: 100%" asp-for="Login" placeholder="Login"  autofocus />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only"></label>
                    <input type="password" class="form-control d-block" style="width: 100%" asp-for="Password" placeholder="Password"  />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepeatPassword" class="sr-only"></label>
                    <input type="password" class="form-control d-block showpassword" style="width: 100%" asp-for="RepeatPassword" placeholder="Repeat Password"  />
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="sr-only"></label>
                    <input type="email" class="form-control d-block showpassword" style="width: 100%"  asp-for="Email" placeholder="Email"  />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
                <div class="text-justify">
                    Already have an account? Login <a asp-controller="Accounts" asp-action="Login" class="link text-danger">here</a>
                </div>
            </form>
        </div>
    </div>
</div>
